.sort.desc:after {
    content:"▼";
  }
  .sort.asc:after {
    content:"▲";
  }

/* table01 */
#table01 {
  border-bottom: 1px solid #b5b1b1;
  width: 400px; /* 通常は400pxで表示 */
  max-width: 90%; /* 画面に収まりきらないときは100%の幅に */
  table-layout: fixed;/*追加する*/
}

td:nth-child(1){
width:20%;
}

td:nth-child(2){
font-size:clamp(1.3rem, 1.218rem + 1.01vw, 1000.0rem);
padding: 0.2em;

}

td:nth-child(3){
font-size:clamp(1.1rem, 0.818rem + 0.81vw, 1000.0rem);
padding: 0.2em;
}

img {
  width: 100%;
  height: auto;
}

/* _::-webkit-full-page-media, _:future, :root img {
    top: 15px;
    text-align: center;
} */